* {
	font-family: monospace;
	font-size: 36px;
}

.hover1 {
	border-radius: 50px;
	width: 500px;
	text-align: center;
	padding: 50px;
	background-color: black;
	color: white;
	transition: .2s;
	cursor: pointer;
}
.hover1:hover {
	background-color: green;
	border-radius: 0px;
	color: blue;
}
.hover2 {
	border-radius: 50px;
	width: 500px;
	text-align: center;
	padding: 50px;
	background-color: black;
	color: white;
	transition: border-radius 2s, color 1s;
	cursor: pointer;
}
.hover2:hover {
	background-color: green;
	border-radius: 0px;
	color: blue;
}