body {
	font-size: 36px;
}

@keyframes animation1 {
	from {
		transform: rotate(-15deg);
	}
	to {
		transform: rotate(15deg);
	}
}
.animation1{
	display: inline-block;
	animation-name: animation1;
	animation-direction: alternate;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}

@keyframes animation2 {
	from {
		letter-spacing: 0;
	}
	to {
		letter-spacing: 20px;
	}
}
.animation2{
	display: inline-block;
	animation-name: animation2;
	animation-direction: alternate;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}

@keyframes animation3 {
	0% {
		color: blue;
	}
	25% {
		color: red;
	}
	50% {
		color: purple;
	}
	75% {
		color: aquamarine;
	}
	100% {
		color: white;
	}
}
.animation3{
	animation-name: animation3;
	animation-direction: alternate;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}