body {
	font-size: 36px;
}

@font-face {
	font-family: 'Raleway';
	src: url("raleway.ttf") format("TrueType");
	font-weight: normal;
	font-style: normal;
	font-variation-settings: "wght" 100;
}
@keyframes variable1 {
	from {
		font-variation-settings: "wght" 100;
	}
	to {
		font-variation-settings: "wght" 800;
  }
}
.variable1 {
	font-family: Raleway, sans-serif;
	font-variation-settings: "wght" 100;
	animation-name: variable1;
	animation-direction: alternate;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	animation-iteration-count: 6;
}
.variable2 {
	font-family: Raleway, sans-serif;
	font-variation-settings: "wght" 100;
	transition: .2s;
}
.variable2:hover {
	font-variation-settings: "wght" 800;
}